
<div class="container">

    <table [style.display]="TPer" class="table text-light">
        <tr>
            <th>Nombre del perfil  
            

                    <span class="fa" style="margin-top: -2%;">&#xf106;</span>
                    <span class="fa" style="margin-top: 2%;">&#xf107;</span>
                    
              
                
            </th>
            <th>Fecha de Creación

                <span class="fa" style="margin-top: -2%;">&#xf106;</span>
                <span class="fa" style="margin-top: 2%;">&#xf107;</span>
            </th>
            <th></th>
        
        </tr>
        <tr *ngFor="let tate of profiles let id = index">
            <td>{{tate.nande}}</td>
            <td>{{tate.Fecha}}</td>
            <td>
                <a href="#" (click)="show()"  class='fa' style="margin-left:50% ;" >&#xf304;</a>
                <span style="margin-right: 15%;">
                
                </span>
                <a href="#" (click)="avr(id)" class='fa' >&#xf1f8;</a>
            </td>
           
        </tr>
        
    </table>
</div>
<!-- Creates the bootstrap modal where the image will appear -->
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Nuevo Perfil</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label >Nombre del Perfil</label>
                <input type="text" [(ngModel)]="Per1"   class="form-control" id="">
              </div>
              <h4>Permisos</h4>
              <!--boxcheck-->
            <div style="background-color: #DEE1E1;padding: 2%;">
            <b><label >Lineas de Credito Activas</label></b><br>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" (click)="avr()" id="customCheck" class="custom-control-input" name="optradio">
                    <label class="custom-control-label" for="customCheck"> Activar</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="customCheck2" class="custom-control-input" name="optradio">
                    <label class="custom-control-label" for="customCheck2"> Penalizaciones</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="customCheck3" class="custom-control-input" name="optradio">
                    <label class="custom-control-label" for="customCheck3"> Firmar</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="customCheck4" class="custom-control-input" name="optradio">
                    <label class="custom-control-label" for="customCheck4"> Aprobar</label>
                </div>
            </div>
            <!--Parte 2-->
            <div style="background-color: #DEE1E1;padding: 2%;">
                <b><label >Solicitud de Línea de Credito</label></b><br>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="customCheck5" class="custom-control-input" name="optradio">
                    <label class="custom-control-label" for="customCheck5"> Aprovar</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="customCheck6" class="custom-control-input" name="optradio">
                    <label class="custom-control-label" for="customCheck6"> VoBo</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="customCheck7" class="custom-control-input" name="optradio">
                    <label class="custom-control-label" for="customCheck7"> Expediente</label>
                </div>
                
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="quita()" (click) = "hide()" >Cancelar</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal" (click)= "setData1()"  (click) = "hide()">Guardar</button>
        
        </div>
    </div>
    </div>
</div>