
<div class="container">

    <table [style.display]="TPer" class="table text-light">
        
        <tr>
            <th>Nombre del perfil  
            

                    <span class="fa" style="margin-top: -2%;">&#xf106;</span>
                    <span class="fa" style="margin-top: 2%;">&#xf107;</span>
                    
              
                
            </th>
            <th>Fecha de Creación

                <span class="fa" style="margin-top: -2%;">&#xf106;</span>
                <span class="fa" style="margin-top: 2%;">&#xf107;</span>
            </th>
            <th></th>
        
        </tr>
        <tr *ngIf="profiles.length == 0">
            <th colspan="3" class="text-danger">No hay Perfiles*</th>
        </tr>
           
        
        <tr *ngFor="let tate of profiles let id = index">
            <td>{{tate.nande}}</td>
            <td>{{tate.Fecha}}</td>
            <td>
                <a href="#" (click)="show(id)"  class='fa' style="margin-left:50% ;" >&#xf304;</a>
                <span style="margin-right: 15%;">
                
                </span>
                <a href="#" (click)="avr(id)" class='fa' >&#xf1f8;</a>
            </td>
           
        </tr>
        
    </table>
</div>
<!-- Creates the bootstrap modal where the image will appear -->
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Nuevo Perfil</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="form4"  (ngSubmit)="submitForm(form4)">

                
                     <div class="form-group">
                        <label >Nombre del Perfil</label>
                        <input type="text" formControlName="name" [(ngModel)]="name"  class="form-control" >
                        <div *ngIf="form4.controls['name'].invalid && (form4.controls['name'].dirty || form4.controls['name'].touched)" >
                            <div *ngFor="let validation of mensaje_name.name" >
                                <div style="font-size: smaller !important;color:red" *ngIf="form4.get('name').hasError(validation.type) && (form4.get('name').dirty || form4.get('name').touched)">
                                    {{validation.message}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Permisos</h4>
                    <!--boxcheck-->
                    <div style="background-color: #DEE1E1;padding: 2%;" formGroupName="grupo1">
                        <b><label >Lineas de Credito Activas</label></b><br>
                        <div class=" custom-control-inline">
                        
                            <mat-checkbox formControlName="checar1"  [(ngModel)]="checkeo1">Activar</mat-checkbox>
                        </div>
                        <div class=" custom-control-inline">
                            
                            <mat-checkbox formControlName="checar2" [(ngModel)]="checkeo2">Penalizaciones</mat-checkbox>
                        </div>
                        <div class=" custom-control-inline">
                        
                            <mat-checkbox formControlName="checar3" [(ngModel)]="checkeo3">Firmar</mat-checkbox>
                        </div>
                        <div class=" custom-control-inline">
                            
                            <mat-checkbox formControlName="checar4" [(ngModel)]="checkeo4">Aprobar</mat-checkbox>
                        </div>
                       
                    </div>
                    <!--Parte 2-->
                    <div style="background-color: #DEE1E1;padding: 2%;" formGroupName="grupo2">
                        <b><label >Solicitud de Línea de Credito</label></b><br>
                        <div class=" custom-control-inline">
                            
                            <mat-checkbox formControlName="checar5" [(ngModel)]="checkeo5">Aprovar</mat-checkbox>
                        </div>
                        <div class=" custom-control-inline">
                            
                            <mat-checkbox formControlName="checar6" [(ngModel)]="checkeo6">VoBo</mat-checkbox>
                        </div>
                        <div class="custom-control-inline">
                            
                            <mat-checkbox formControlName="checar7" [(ngModel)]="checkeo7">Expediente</mat-checkbox>
                        </div>
                    </div>    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="quita()" (click) = "hide()" >Cancelar</button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal" type="submit" [disabled]="form4.invalid" (click)= "setData1()"  (click) = "hide()">Guardar</button>
                    
                    </div>
                </form>    
            </div>
        
        </div>
    </div>
</div>
