
   

    <mat-drawer-container class="example-container" autosize >
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="example-sidenav-content" >
                <!--Boton que despliega el sidebar-->
                <button type="button" mat-button (click)="drawer.toggle()" (click)="oculta = !oculta"  *ngIf="oculta == false" style="color:white;font-size: 170%" class="material-icons btn">
                  &#xe5d2;
                </button>
              </div>
              
              <a class="navbar-brand" href="#" style="margin-left: 2%;width:15%;" >
                <img src="https://portalgratuito.interfactura.com/Images/IF_logo_L.png" alt="Logo" style="width:100%;">
              </a>
        </nav>
            <!--Aqui esta donde estan las weas del menú-->
            <mat-drawer #drawer class="example-sidenav" mode="side" style="border: none;background-color:#DEE1E1; width: 20%;">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
                    <div class="example-sidenav-content" >
                        <button type="button" mat-button (click)="drawer.toggle()" (click)="oculta = !oculta" style="color:white;font-size: 170%" class="material-icons btn">
                          &#xe5d2;
                        </button>
                      </div>
                      
                    </nav>
                    <p></p>
                  
<!--Tesorería ----------------------------------------------------------------------------------------------------------------->                
               
                        <div (click)='Teso= !Teso' [ngStyle]="{'background-color': Teso? 'white' : '#DEE1E1'}">
                            <button class="btn">
                                <i class='fas fa-money-bill-wave'></i>
                                   Tesorería
                                <i class="material-icons" >&#xe5cc;</i>
                            </button>  
                        </div>
                        <div *ngIf="Teso" class="bg-light text-center">

                            <button  class="btn" mat-raised-button>
                                Tesorería 1
                            </button>
                            <br>
                            <button  class="btn" mat-raised-button>
                                Tesorería 2
                            </button>
                        </div>
<!--Disposiciones ------------------------------------------------------------------------------------------------------------>
                        <div (click)='Dispo= !Dispo' [ngStyle]="{'background-color': Dispo? 'white' : '#DEE1E1'}">
                            <button class="btn">
                                Dispocisiones 
                                <i class="material-icons" >&#xe5cc;</i>
                            </button>  
                        </div>
                        <div *ngIf="Dispo" class="bg-light text-center">

                            
                            <button  class="btn" mat-raised-button>
                                Disposición 1
                            </button>
                            <br>
                            <button  class="btn" mat-raised-button>
                                Disposición 2
                            </button>
                        </div>
<!--Gestión ------------------------------------------------------------------------------------------------------------------->
                        <div (click)='Gestion= !Gestion' [ngStyle]="{'background-color': Gestion? 'white' : '#DEE1E1'}">
                            <button class="btn">
                                Gestión de Líneas 
                                <i class="material-icons" >&#xe5cc;</i>
                            </button>  
                        </div>
                        <div *ngIf="Gestion" class="bg-light text-center">

                            
                            <button  class="btn" mat-raised-button>
                                Solicitud de líneas de crédito
                            </button>
                            <br>
                            <button  class="btn" mat-raised-button>
                                Líneas de crédito activas
                            </button>
                        </div>
<!--Creditos------------------------------------------------------------------------------------------------------------------->
                        <div (click)='Credito= !Credito' [ngStyle]="{'background-color': Credito? 'white' : '#DEE1E1'}">
                            <button class="btn">
                                <i class="fa fa-life-bouy"></i>
                                   Créditos
                                <i class="material-icons" >&#xe5cc;</i>
                            </button> 
                        </div>
                        <div *ngIf="Credito" class="bg-light text-center">

                            
                            <button  class="btn" mat-raised-button>
                                Creditos 1
                            </button>
                            <br>
                            <button  class="btn" mat-raised-button>
                                Creditos 2
                            </button>
                        </div>
<!--Clientes--------------------------------------------------------------------------------------------------------------------->
                        <div (click)='Clientes= !Clientes' [ngStyle]="{'background-color': Clientes? 'white' : '#DEE1E1'}">
                            <button class="btn" >
                                <i class="fa fa-user"></i>
                                   Clientes
                                
                                   <i *ngIf="Clientes == false" class='fas fa-angle-right'></i>
                                
                               
                                   <i *ngIf="Clientes == true" class='fas fa-angle-down'></i>
                               
                            </button>  
                        </div>
                        <div *ngIf="Clientes" class="bg-light text-center">

                            
                            <button  class="btn" mat-raised-button>
                                Clientes 1
                            </button>
                            <br>
                            <button  class="btn" mat-raised-button>
                                Clientes 2
                            </button>
                        </div>
<!--Configuracion ---------------------------------------------------------------------------------------------------------------->
                        <div (click)="Confi = !Confi" [ngStyle]="{'background-color': Confi? 'white' : '#DEE1E1'}">
                            <button class="btn">
                                <i class="fa fa-gear"></i>
                                Configuración 
                                
                                
                                    <i *ngIf="Confi == false" class='fas fa-angle-right'></i>
                                
                               
                                    <i *ngIf="Confi == true" class='fas fa-angle-down'></i>
                                
                                
                            </button>  
                            
                        </div>
                        <div *ngIf="Confi" class="bg-light text-center">

                            
                            <button  class="btn" mat-raised-button>
                                Gestion de Fondeadres
                            </button>
                            <button (click)="showFiller = !showFiller" class="btn" mat-raised-button>
                                Gestion de Usuarios
                            </button>
                        </div>
                
                
                
            </mat-drawer>
      
        
        
        <div class="jumbotron text-center" style="height: 500px;" *ngIf="!showFiller">
            <h1 class="display-1" > Bienvenido </h1>
        </div>
        <!--Se activa el componente-->
        <app-tituloy-encierro *ngIf="showFiller"></app-tituloy-encierro>
        <router-outlet></router-outlet>
        
    </mat-drawer-container>
    


  



  