<!--Restart xd-->
<div class="container">

    <table class="table text-light col ">
        <thead>
        <tr>
            <!--titulos-->
            <th style="width: 35%;">Nombre del Usuario  
                    <span class="fa" style="margin-top: -2%;">&#xf106;</span>
                    <span class="fa" style="margin-top: 2%;">&#xf107;</span>
            </th>
            <th class="" style="width: 25%;">RFC
                <span class="fa" style="margin-top: -2%;">&#xf106;</span>
                <span class="fa" style="margin-top: 2%;">&#xf107;</span>
            </th>
            <th class="" style="width: 25%;">Correo Electronico</th>
            <th style="width: 25%; ">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="Datos.length == 0">
            <th colspan="3" class="text-danger">No hay Usuarios*</th>
        </tr>
        <tr  *ngFor="let item of Datos; let id = index">
            <td>
               {{item.name}}
            </td>
            <td>
                {{item.rfc}}
            </td>
            <td>
                {{item.email}}
            </td>
            <td>
                <a href="#" (click) = "show(id,Name,RFC,Email)" class='fa'  style="margin-left:50% ;" >&#xf304;</a>
                <span style="margin-right: 15%;">   
                </span>
                <a href="#" (click)="borrar(id)"  class='fa' >&#xf1f8;</a>
            </td>
        </tr>
    </tbody>
        <!--Datos-->
       <!--  <tr>
            <td>{{name}}</td>
            <td>{{RFC}}</td>
            <td>{{correo}}</td>
            <td>
                <a href="#" (click) = "show()" class='fa' style="margin-left:50% ;" >&#xf304;</a>
                <span style="margin-right: 15%;">   
                </span>
                <a href="#" class='fa' >&#xf1f8;</a>
            </td>
           
        </tr> -->
       
    </table>

</div>

    <!--Weas popup-->
    
    <!-- Creates the bootstrap modal where the image will appear -->
    <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Nuevo Usuario</h4>
                </div>
                <!--Contenido-->
                <div class="modal-body">
                    <div class="coniner">
                        <form [formGroup]="form1" (ngSubmit)="submitForm(form1)">
                            <div class="form-group">
                                <label >Usuario</label>
                                <input type="text"   formControlName="name" #Name  class="form-control" >
                                <!--Errores-->
                                <div *ngIf="form1.controls['name'].invalid && (form1.controls['name'].dirty || form1.controls['name'].touched)" >
                                    <div *ngFor="let validation of mensaje_name.name" >
                                        <div style="font-size: smaller !important;color:red" *ngIf="form1.get('name').hasError(validation.type) && (form1.get('name').dirty || form1.get('name').touched)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label >RFC</label>
                                    <input type="text"  onkeyup="javascript:this.value=this.value.toUpperCase();" formControlName="rfc" #RFC value="" class="form-control" >
                                    <!--Errores 2-->
                                    <div *ngIf="form1.controls['rfc'].invalid && (form1.controls['rfc'].dirty || form1.controls['rfc'].touched)" >
                                        <div *ngFor="let validation2 of mensaje_rfc.rfc" >
                                            <div style="font-size: smaller !important;color:red" *ngIf="form1.get('rfc').hasError(validation2.type) && (form1.get('rfc').dirty || form1.get('rfc').touched)">
                                                {{validation2.message}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" formGroupName="Perfiless">
                                    <label >Perfil</label>
                                    <select name="" class="form-control"  formControlName="Cambios2" [(ngModel)]="CreP"  (change)="selectChangeHandler($event)">
                                        <option value="no">Escoge Un Perfil</option>
                                        <option value="{{item.nande}}" *ngFor="let item of dat">{{item.nande}}</option>
                                        <option value="Crea" (click)="prender()">Crear Un Perfil</option>
                                    </select>
                                    <div *ngIf="dat.length == 0" ><i class="text-danger">No hay Perfiles*</i></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label >Correo Electronico</label>
                                <input type="text" formControlName="email" #Email class="form-control" >
                                <!--Errores 3-->
                                <div *ngIf="form1.controls['email'].invalid && (form1.controls['email'].dirty || form1.controls['email'].touched)" >
                                    <div *ngFor="let validation3 of mensaje_email.email" >
                                        <div style="font-size: smaller !important;color:red" *ngIf="form1.get('email').hasError(validation3.type) && (form1.get('email').dirty || form1.get('email').touched)">
                                            {{validation3.message}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Botones de cancelar y guardar-->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="rest()" (click) = "hide()" >Cancelar</button>
                                <button type="button" class="btn btn-dark" data-dismiss="modal" type="submit" (click) = "setData(Name,RFC,Email)" [disabled]="form1.invalid || CreP == 'no' || CreP== 'Crea'" (click) = "hide()">Guardar</button>      
                            </div>
                        </form>    
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Parte del crear perfiles---------------------------------------------------------------------------------------------------------------------------------------------->
<!--Parte weonada xdd-->

<div [style.display]="showModall1 ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Nuevo Perfil</h4>
            </div>
            <div class="modal-body">
                    <form [formGroup]="form3" (ngSubmit)="submitForm1(form3)" >
                        <div class="form-group">
                            <label >Nombre del Perfil</label>
                            <input type="text" formControlName="name" value=""  #na  class="form-control" >
                            <div *ngIf="form3.controls['name'].invalid && (form3.controls['name'].dirty || form3.controls['name'].touched)" >
                                <div *ngFor="let validation of mensaje_name.name" >
                                    <div style="font-size: smaller !important;color:red" *ngIf="form3.get('name').hasError(validation.type) && (form3.get('name').dirty || form3.get('name').touched)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Permisos</h4>
                        <!--boxcheck-->
                        <div style="background-color: #DEE1E1;padding: 2%" formGroupName="chequeos" >
                        <b><label >Lineas de Credito Activas</label></b><br>
                            <div class="custom-control-inline">
                                <mat-checkbox formControlName="checado1" [(ngModel)]="Check1"  >Activar</mat-checkbox><!--[disabled]="bloqueo2" [disabled]="bloqueo3" [disabled]="bloqueo4"-->
                            </div>
                            <div class="custom-control-inline ">
                            
                                <mat-checkbox formControlName="checado2" [(ngModel)]="Check2" >Penalizaciones</mat-checkbox><!--[disabled]="bloqueo1" [disabled]="bloqueo3" [disabled]="bloqueo4"-->
                            </div>
                            <div class=" custom-control-inline ">
                                
                                <mat-checkbox formControlName="checado3" [(ngModel)]="Check3" >Firmar</mat-checkbox><!--[disabled]="bloqueo1" [disabled]="bloqueo2" [disabled]="bloqueo4"-->
                            </div>
                            <div class=" custom-control-inline">
                                <mat-checkbox formControlName="checado4" [(ngModel)]="Check4" >Aprobar</mat-checkbox><!--[disabled]="bloqueo1" [disabled]="bloqueo2" [disabled]="bloqueo3"-->
                            </div>
                        </div>
                        <!--Parte 2-->
                        <div style="background-color: #DEE1E1;padding: 2%;" formGroupName="chequeos">
                            <b><label >Solicitud de Línea de Credito</label></b><br>
                            <div class=" custom-control-inline">
                                
                                <mat-checkbox formControlName="checado5" [(ngModel)]="Check5" >Aprobar</mat-checkbox> <!--[disabled]="bloq2" [disabled]="bloq3"-->
                            </div>
                            <div class="custom-control-inline">
                                
                                <mat-checkbox formControlName="checado6" [(ngModel)]="Check6" >VoBo</mat-checkbox> <!--[disabled]="bloq1" [disabled]="bloq3"-->
                            </div>
                            <div class="custom-control-inline">
                                
                                <mat-checkbox formControlName="checado7" [(ngModel)]="Check7" >Expediente</mat-checkbox><!--[disabled]="bloq2" [disabled]="bloq1"-->
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="RegresarD(na)" (click) = "quitar()" >Cancelar</button>
                            <button type="button" class="btn btn-dark" data-dismiss="modal" type="submit" (click)= "Guardar(na)" [disabled]="form3.invalid"  (click) = "quitar()">Guardar</button>
                        
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>    
