<div class=" container">

    <div class="input-group row container"  id="xd">
        <input type="search"  class="form-control col-sm-3"  name="" id="busca">
    <div class="input-group-append">
      <input class="fa  input-group-text" id="vus" type="button" value="&#xf002;">
    </div>
    <a href="#"  class="fa col-sm-9" style="margin-top:1%;">&#xf0b0;</a>
    <button  class="btn" (click)="crear()" style="float: right;">Nuevo Perfil</button>
  </div>
<!-- Creates the bootstrap modal where the image will appear -->
<div [style.display]="showModall ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Nuevo Perfil</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label >Nombre del Perfil</label>
                <input type="text" [(ngModel)]="name" value=""   class="form-control" id="iwi">
              </div>
              <h4>Permisos</h4>
              <!--boxcheck-->
            <div style="background-color: #DEE1E1;padding: 2%" >
            <b><label >Lineas de Credito Activas</label></b><br>
                <div class="custom-control-inline">
                    <mat-checkbox [(ngModel)]="checado1" [disabled]="bloqueo2" [disabled]="bloqueo3" [disabled]="bloqueo4" [(ngModel)]="bloqueo1">Activar</mat-checkbox>
                </div>
                <div class="custom-control-inline ">
                   
                    <mat-checkbox [disabled]="bloqueo1" [disabled]="bloqueo3" [disabled]="bloqueo4" [(ngModel)]="bloqueo2" >Penalizaciones</mat-checkbox>
                </div>
                <div class=" custom-control-inline ">
                    
                    <mat-checkbox [disabled]="bloqueo1" [disabled]="bloqueo2" [disabled]="bloqueo4" [(ngModel)]="bloqueo3">Firmar</mat-checkbox>
                </div>
                <div class=" custom-control-inline">
                    <mat-checkbox [disabled]="bloqueo1" [disabled]="bloqueo2" [disabled]="bloqueo3"  [(ngModel)]="bloqueo4">Aprobar</mat-checkbox>
                </div>
            </div>
            <!--Parte 2-->
            <div style="background-color: #DEE1E1;padding: 2%;">
                <b><label >Solicitud de Línea de Credito</label></b><br>
                <div class=" custom-control-inline">
                    
                    <mat-checkbox [(ngModel)]="bloq1" [disabled]="bloq2" [disabled]="bloq3">Aprobar</mat-checkbox>
                </div>
                <div class="custom-control-inline">
                    
                    <mat-checkbox [(ngModel)]="bloq2" [disabled]="bloq1" [disabled]="bloq3">VoBo</mat-checkbox>
                </div>
                <div class="custom-control-inline">
                    
                    <mat-checkbox [(ngModel)]="bloq3" [disabled]="bloq2" [disabled]="bloq1">Expediente</mat-checkbox>
                </div>
                
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="RegresarD()" (click) = "quitar()" >Cancelar</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal" (click)= "Guardar()"  (click) = "quitar()">Guardar</button>
        
        </div>
    </div>
    </div>
</div>
    
    
   
    
    
</div>


