<!--g-->
<div class=" container">

    <div class="input-group row container"  id="xd">
        <input type="search"  class="form-control col-sm-3"  name="" id="busca">
    <div class="input-group-append">
      <input class="fa  input-group-text" id="vus" type="button" value="&#xf002;">
    </div>
    <a href="#"  class="fa col-sm-9" style="margin-top:1%;">&#xf0b0;</a>
    <button  class="btn" (click)="crear()" style="float: right;">Nuevo Perfil</button>
  </div>
<!-- Creates the bootstrap modal where the image will appear -->
<div [style.display]="showModall ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Nuevo Perfil</h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="form3" (ngSubmit)="submitForm(form3)" >
                <div class="form-group">
                    <label >Nombre del Perfil</label>
                    <input type="text" formControlName="name" value=""  #na  class="form-control" >
                    <div *ngIf="form3.controls['name'].invalid && (form3.controls['name'].dirty || form3.controls['name'].touched)" >
                        <div *ngFor="let validation of mensaje_name.name" >
                            <div style="font-size: smaller !important;color:red" *ngIf="form3.get('name').hasError(validation.type) && (form3.get('name').dirty || form3.get('name').touched)">
                                {{validation.message}}
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Permisos</h4>
                <!--boxcheck-->
                <div style="background-color: #DEE1E1;padding: 2%" formGroupName="chequeos" >
                <b><label >Lineas de Credito Activas</label></b><br>
                    <div class="custom-control-inline">
                        <mat-checkbox formControlName="checado1" [(ngModel)]="Check1"  >Activar</mat-checkbox><!--[disabled]="bloqueo2" [disabled]="bloqueo3" [disabled]="bloqueo4"-->
                    </div>
                    <div class="custom-control-inline ">
                    
                        <mat-checkbox formControlName="checado2" [(ngModel)]="Check2" >Penalizaciones</mat-checkbox><!--[disabled]="bloqueo1" [disabled]="bloqueo3" [disabled]="bloqueo4"-->
                    </div>
                    <div class=" custom-control-inline ">
                        
                        <mat-checkbox formControlName="checado3" [(ngModel)]="Check3" >Firmar</mat-checkbox><!--[disabled]="bloqueo1" [disabled]="bloqueo2" [disabled]="bloqueo4"-->
                    </div>
                    <div class=" custom-control-inline">
                        <mat-checkbox formControlName="checado4" [(ngModel)]="Check4" >Aprobar</mat-checkbox><!--[disabled]="bloqueo1" [disabled]="bloqueo2" [disabled]="bloqueo3"-->
                    </div>
                </div>
                <!--Parte 2-->
                <div style="background-color: #DEE1E1;padding: 2%;" formGroupName="chequeos2">
                    <b><label >Solicitud de Línea de Credito</label></b><br>
                    <div class=" custom-control-inline">
                        
                        <mat-checkbox formControlName="checado5" [(ngModel)]="Check5" >Aprobar</mat-checkbox> <!--[disabled]="bloq2" [disabled]="bloq3"-->
                    </div>
                    <div class="custom-control-inline">
                        
                        <mat-checkbox formControlName="checado6" [(ngModel)]="Check6" >VoBo</mat-checkbox> <!--[disabled]="bloq1" [disabled]="bloq3"-->
                    </div>
                    <div class="custom-control-inline">
                        
                        <mat-checkbox formControlName="checado7" [(ngModel)]="Check7" >Expediente</mat-checkbox><!--[disabled]="bloq2" [disabled]="bloq1"-->
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="RegresarD()" (click) = "quitar()" >Cancelar</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal" type="submit" (click)= "Guardar(na)" [disabled]="form3.invalid"  (click) = "quitar()">Guardar</button>
                
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
    
    
   
    
    
</div>


